<div class="card">
    <div class="details">
        <p class="date">{{day}}</p>
        <p class="month">{{month}}</p>
        <p class="day">
            {{weekday}}
        </p>
        <p class="time">{{time}}</p>
    </div>
    <div class="info">
        <h3 class="title">{{title}}</h3>
        <p class="subtitle">{{subtitle}}</p>
    </div>
</div>
