<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>{{meta_title}}</title>
		<meta name="HandheldFriendly" content="True">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap"
			rel="stylesheet">

		<link rel="stylesheet" href="{{asset "css/style.css"}}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/dropdown.min.js"></script>

		<script defer data-domain="internetfreedom.in" src="https://plausible.io/js/plausible.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


		{{ghost_head}}

		<script src="{{asset "js/base.js"}}"></script>
	</head>
	<body class="{{body_class}}{{tags autolink='off'}}">
		<div class="wrapper">
			<header>
				<a class="logo" href="{{@site.url}}">
					{{>logo}}
					<div class="gap">&nbsp;</div>
					<div class="toggle-menu">☰</div>
				</a>
				<nav class="menu">
					{{navigation}}
					<button>Register with us</button>
				</nav>
			</header>
			{{{body}}}
		</div>

		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

		{{ghost_foot}}
	</body>
</html>
