<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>{{meta_title}}</title>
		<meta name="HandheldFriendly" content="True">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
			rel="stylesheet">

		<link rel="stylesheet" href="{{asset "css/style.css"}}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/dropdown.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
			integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
			integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script defer data-domain="internetfreedom.in" src="https://plausible.io/js/plausible.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


		{{ghost_head}}

		<script src="{{asset "js/base.js"}}"></script>
	</head>
	<body class="{{body_class}}{{tags autolink='off'}}">
		<header>
			<a class="logo" href="{{@site.url}}">
				{{>logo}}
			</a>
			<nav class="menu">
				{{navigation}}
			</nav>
			{{#link target="_blank" href="https://blocksurvey.io/survey/1PfQfn62JSDjjyK4nuHoY5t21wKeuocLLm/a8b7fe71-5ea4-46f8-9e67-0e007ebbc61a"}}
				<button class="register-button">Register with us</button>
			{{/link}}
			<div class="toggle-menu">☰</div>
			<div class="close-menu">✕</div>
		</header>
		{{{body}}}

		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script>
			$('.js-testimonial-feed').slick();
		</script>
		{{>footer}}
		{{ghost_foot}}
	</body>
</html>
