{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="post-page">
  <article class="post-content">
      <h1 class="post-title">{{ title }}</h1>
      <div class="post-date">{{date format="DD MMMM YYYY, hh:mm a"}}</div>
      {{#if feature_image}}
        <img class="post-image lazyload u-object-fit" {{#if feature_image}} data-srcset="{{img_url feature_image size=" 1x"}}
          1x, {{img_url feature_image size="2x" }} 2x, {{img_url feature_image size="3x" }} 3x" {{/if}} src={{img_url
          feature_image}} data-sizes="auto" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
      {{/if}}
      <section class="main-content">
        {{ content }}

        {{#if tags}}
          <div class="post-tags">
            {{tags separator=""}}
          </div>
        {{/if}}
      </section>
    </article>
</main>
<div class="share-buttons">
  <p>Share this article:</p>
  <a rel="noopener noreferrer" target="_blank" href="http://twitter.com/share?url={{url absolute='true'}}&text=The%20@PatrakarClinic%20provides%20pro-bono%20legal%20help%20to%20support%20and%20amplify%20independent%20journalism%20in%20India.%0D%0DRead:%20{{encode title}}%0D%0D">
    <i style="top: 2px; height: 20px; width: 20px;" class="twitter-icon"></i>
  </a>
  <a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute='true'}}">
    <i style="top: 2px; height: 20px; width: 20px;" class="linkedin-icon"></i>
  </a>
</div>

{{/post}}
