{{!< default}}

<div class="services-section">
    <h1 class="heading">
        Our services
    </h1>
    <h2 class="subheading">
        At DPDC, the following pro bono legal services can be availed by individual journalists:
    </h2>
    <div class="services-container">
        <div>
            <img class="services-icon" src="{{asset 'assets/img/serviceIcon1.png'}}" alt="service icon"/>
        </div>
        <div>
            <h3 class="services-heading">Direct Legal Representation</h3>
            <p class="services-content">We directly represent journalists facing immediate legal action due to their reporting.</p>
        </div>
    </div>
    <div class="services-container">
        <div>
            <img class="services-icon" src="{{asset 'assets/img/serviceIcon2.png'}}" alt="service icon"/>
        </div>
        <div>
            <h3 class="services-heading">Second opinions</h3>
            <p class="services-content">We provide second opinion to journalists with pre-existing legal teams regarding their course of action.</p>
        </div>
    </div>
    <div class="services-container">
        <div>
            <img class="services-icon" src="{{asset 'assets/img/serviceIcon3.png'}}" alt="service icon"/>
        </div>
        <div>
            <h3 class="services-heading">Research and drafting assistance</h3>
            <p class="services-content">We provide assistance with research and drafting to lawyers representing individual journalists on technology-related issues which is our expertise.</p>
        </div>
    </div>
    <div class="services-container">
        <div>
            <img class="services-icon" src="{{asset 'assets/img/serviceIcon4.png'}}" alt="service icon"/>
        </div>
        <div>
            <h3 class="services-heading">Pre-publication guidance</h3>
            <p class="services-content">We review pre-publication material, and guide journalists working on high-risk stories that could lead to litigation.</p>
        </div>
    </div>
    <div class="services-container">
        <div>
            <img class="services-icon" src="{{asset 'assets/img/serviceIcon5.png'}}" alt="service icon"/>
        </div>
        <div>
            <h3 class="services-heading">Reference and access to our network of lawyers in India</h3>
            <p class="services-content">We refer journalists requiring legal representation before courts beyond the NCR to pro bono lawyers in their city or town.</p>
        </div>
    </div>
</div>
<div class="banner">
    <p>
        <b>Please Note:</b> The Clinic is not a workshop, conference or webinar. It will be conducted as a direct 1:1 consultation clinic with our expert lawyers, where journalists can avail Our Services. Journalists can also avail of the opportunity to address any general or specific legal queries that they may have related to their professional practice.
    </p>
</div>
<div class="services-infobanner">
    <div class="services-infobanner-content">
        <h1>
            Who can avail of the services offered at DPDC?
        </h1>
        <p>
            We adopt an inclusive approach in defining the word <b>“journalist”</b>. The term <b>“journalist”</b> carries a broad functional perspective and includes all media workers and support staff, community media workers, cartoonists, and citizen journalists.
        </p>
    </div>
    <div class="services-illustration">
        <img src="{{asset 'assets/img/services.png'}}" alt="all services icons"/>
    </div>
</div>